body{
  background-color: #fff;
}

.front-round{
  margin-top: 60px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  height: auto;
}

#intro-title{
  font-family: Oswald;
  margin-top: 30px;
  font-size: 35px;
  margin-bottom: 30px;
}

.sub-head {
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  color: #bdbdbd;
  line-height: 1.5;
  margin:0 auto;
  max-width: 400px;
}


.description{
  font-size: 18;
  font-family: Open Sans;
  font-weight: 400;
  margin-top: 5%;
  margin-right: 25%;
  margin-bottom: 20%;
}


.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 25px;
    max-width: 600px;
    min-width: 300px;
}
    
#section-title{
  font-family: Roboto Slab;
  font-weight: 700px;
  font-size: 20px;
  margin-bottom: -0.2%;
}

#proj-sub{
  font-family: Open Sans;
  color: #CDC9C9;
  font-size: 14px;
}


.contact-links{
   text-align:center;
}


.icon-margin{
  margin-top: 40px;
  margin-right: 15px;
  margin-left: 15px;
  color: black;
}

/*=== Trigger  ===*/


/*=== Optional Delays, change values here  ===*/
.one {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

.animate {
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.directoryContainer {
  text-align:center;
  margin-top: 40px;
}

.directoryContainer a{
  text-decoration:none;
}

.directory{
  margin: 3%;
  font-size: 20px;
  color: #000066;
  text-decoration:none;
}

.directoryContainerTop {
  text-align:right;
}

.directoryContainerTop a{
  text-decoration:none;
}

.directoryTop{
  margin: 10px;
  font-size:15px;
  color: #000066;
  text-decoration:none;
}

.AboutMe{
  margin-top: 40px;
  max-width: 600px;
  margin:0 auto;
}

.AboutMe p{
  max-width: 575px;
  margin:0 auto;
  font-size: 18px;
  color: #3f3f3f;
  font-family: Open Sans;
  line-height: 1.5;
}

.AboutMe li{
  font-size: 18px;
  max-width: 520px;
  margin:0 auto;
  color: #3f3f3f;
  font-family: Open Sans;
  line-height:1.5;
}
